In [1]:
# import the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [2]:
# load the data
orders = pd.read_csv("orders.csv")
order_details = pd.read_csv("order_details.csv")
pizza_types = pd.read_csv("pizza_types.csv", encoding= 'unicode_escape')
pizzas = pd.read_csv("pizzas.csv", encoding= 'unicode_escape')

In [16]:
orders.nunique()

order_id    21350
date          358
time        16382
dtype: int64

In [11]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  21350 non-null  int64
 1   date      21350 non-null  object
 2   time      21350 non-null  object
dtypes: int64(1), object(2)
memory usage: 500.5+ KB

In [17]:
order_details.nunique()

order_details_id    48620
order_id            21350
pizza_id               91
quantity                4
dtype: int64

In [12]:
order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [18]:
order_details.head()

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

In [13]:
new_df = pd.merge(orders, order_details, how='outer')

In [14]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  int64
 1   date              48620 non-null  object
 2   time              48620 non-null  object
 3   order_details_id  48620 non-null  int64
 4   pizza_id          48620 non-null  object
 5   quantity          48620 non-null  int64
dtypes: int64(3), object(3)
memory usage: 2.6+ MB

In [15]:
new_df.nunique()

order_id            21350
date                  358
time                16382
order_details_id    48620
pizza_id               91
quantity                4
dtype: int64

In [19]:
new_df.head()

   order_id        date      time  order_details_id       pizza_id  quantity
0         1  2015-01-01  11:38:36                 1     hawaiian_m         1
1         2  2015-01-01  11:57:40                 2  classic_dlx_m         1
2         2  2015-01-01  11:57:40                 3  five_cheese_l         1
3         2  2015-01-01  11:57:40                 4    ital_supr_l         1
4         2  2015-01-01  11:57:40                 5     mexicana_m         1

In [23]:
new_df.groupby(['pizza_id'])['pizza_id'].agg('count')

pizza_id
bbq_ckn_l         967
bbq_ckn_m         926
bbq_ckn_s         479
big_meat_s       1811
brie_carre_s      480
                 ...
the_greek_xl      544
the_greek_xxl      28
veggie_veg_l      423
veggie_veg_m      630
veggie_veg_s      457
Name: pizza_id, Length: 91, dtype: int64

In [25]:
pizza_types.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [26]:
pizza_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_type_id  32 non-null     object
 1   name           32 non-null     object
 2   category       32 non-null     object
 3   ingredients    32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [27]:
new_df_pizza = pd.merge(pizzas, pizza_types, how='outer')

In [28]:
new_df_pizza.head()

,pizza_id,pizza_type_id,size,price,name,category,ingredients
0,bbq_ckn_s,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,bbq_ckn_m,bbq_ckn,M,16.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
2,bbq_ckn_l,bbq_ckn,L,20.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
3,cali_ckn_s,cali_ckn,S,12.75,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
4,cali_ckn_m,cali_ckn,M,16.75,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."

In [30]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  int64
 1   date              48620 non-null  object
 2   time              48620 non-null  object
 3   order_details_id  48620 non-null  int64
 4   pizza_id          48620 non-null  object
 5   quantity          48620 non-null  int64
dtypes: int64(3), object(3)
memory usage: 2.6+ MB

In [29]:
new_df_pizza.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 95
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
 4   name           96 non-null     object
 5   category       96 non-null     object
 6   ingredients    96 non-null     object
dtypes: float64(1), object(6)
memory usage: 6.0+ KB

In [31]:
new_df.nunique()

order_id            21350
date                  358
time                16382
order_details_id    48620
pizza_id               91
quantity                4
dtype: int64

In [32]:
new_df_pizza.nunique()

pizza_id         96
pizza_type_id    32
size              5
price            27
name             32
category          4
ingredients      32
dtype: int64

In [33]:
new_df_final = pd.merge(new_df, new_df_pizza, how='outer')

In [34]:
new_df_final.head()

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,1.0,2015-01-01,11:38:36,1.0,hawaiian_m,1.0,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,77.0,2015-01-02,12:22:46,179.0,hawaiian_m,1.0,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
2,146.0,2015-01-03,14:22:10,357.0,hawaiian_m,1.0,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
3,163.0,2015-01-03,16:54:54,389.0,hawaiian_m,1.0,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
4,247.0,2015-01-04,20:55:29,568.0,hawaiian_m,1.0,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"

In [35]:
new_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48625 entries, 0 to 48624
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  float64
 1   date              48620 non-null  object
 2   time              48620 non-null  object
 3   order_details_id  48620 non-null  float64
 4   pizza_id          48625 non-null  object
 5   quantity          48620 non-null  float64
 6   pizza_type_id     48625 non-null  object
 7   size              48625 non-null  object
 8   price             48625 non-null  float64
 9   name              48625 non-null  object
 10  category          48625 non-null  object
 11  ingredients       48625 non-null  object
dtypes: float64(4), object(8)
memory usage: 4.8+ MB

In [36]:
new_df_final.nunique()

order_id            21350
date                  358
time                16382
order_details_id    48620
pizza_id               96
quantity                4
pizza_type_id          32
size                    5
price                  27
name                   32
category                4
ingredients            32
dtype: int64

In [20]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

In [22]:
pizzas.nunique()

pizza_id         96
pizza_type_id    32
size              5
price            27
dtype: int64

In [24]:
pizzas.groupby(['pizza_id'])['pizza_id'].agg('count')

pizza_id
bbq_ckn_l        1
bbq_ckn_m        1
bbq_ckn_s        1
big_meat_l       1
big_meat_m       1
                ..
the_greek_xl     1
the_greek_xxl    1
veggie_veg_l     1
veggie_veg_m     1
veggie_veg_s     1
Name: pizza_id, Length: 96, dtype: int64