In [3]:
# import the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [4]:
data = pd.read_csv('data.csv')

In [5]:
data.head(10)

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients,day,hour,new_time_again,year,month
0,1,2015-01-01,2023-03-27 11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Thursday,11,11:38:36,2015,1
1,77,2015-01-02,2023-03-27 12:22:46,179,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Friday,12,12:22:46,2015,1
2,146,2015-01-03,2023-03-27 14:22:10,357,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Saturday,14,14:22:10,2015,1
3,163,2015-01-03,2023-03-27 16:54:54,389,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Saturday,16,16:54:54,2015,1
4,247,2015-01-04,2023-03-27 20:55:29,568,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Sunday,20,20:55:29,2015,1
5,314,2015-01-06,2023-03-27 12:11:58,716,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Tuesday,12,12:11:58,2015,1
6,351,2015-01-06,2023-03-27 17:37:29,806,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Tuesday,17,17:37:29,2015,1
7,377,2015-01-07,2023-03-27 12:03:18,856,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Wednesday,12,12:03:18,2015,1
8,558,2015-01-09,2023-03-27 20:51:10,1263,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Friday,20,20:51:10,2015,1
9,580,2015-01-10,2023-03-27 13:56:01,1312,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",Saturday,13,13:56:01,2015,1

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  int64
 1   date              48620 non-null  object
 2   time              48620 non-null  object
 3   order_details_id  48620 non-null  int64
 4   pizza_id          48620 non-null  object
 5   quantity          48620 non-null  int64
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
 12  day               48620 non-null  object
 13  hour              48620 non-null  int64
 14  new_time_again    48620 non-null  object
 15  year              48620 non-null  int64
 16  month             48620 non-null  int64
dtypes: float64(1), int64(6), object(10)
memory usage: 6.3+ MB

In [8]:
data.nunique()

order_id            21350
date                  358
time                16382
order_details_id    48620
pizza_id               91
quantity                4
pizza_type_id          32
size                    5
price                  25
name                   32
category                4
ingredients            32
day                     7
hour                   15
new_time_again      16382
year                    1
month                  12
dtype: int64

## Analysis Questions