In [1]:
# import the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [2]:
some_data = pd.read_csv('some_data.csv')

In [3]:
some_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   date              48620 non-null  object
 3   time              48620 non-null  object
 4   order_details_id  48620 non-null  int64
 5   pizza_id          48620 non-null  object
 6   quantity          48620 non-null  int64
 7   pizza_type_id     48620 non-null  object
 8   size              48620 non-null  object
 9   price             48620 non-null  float64
 10  name              48620 non-null  object
 11  category          48620 non-null  object
 12  ingredients       48620 non-null  object
 13  day               48620 non-null  object
 14  hour              48620 non-null  int64
 15  year              48620 non-null  int64
 16  month             48620 non-null  int64
 17  new_time_again    48620 non-null  object
dtypes: float64(1), int64(7), object(10)
memory usage: 6.7+ MB