In [3]:
import pandas as pd
import numpy as np

In [5]:
orders = pd.read_csv("orders.csv")

In [6]:
orders.head()

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30