In [10]:
# import the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [11]:
# load the data
orders = pd.read_csv("orders.csv")
order_details = pd.read_csv("order_details.csv")
pizza_types = pd.read_csv("pizza_types.csv", encoding= 'unicode_escape')
pizzas = pd.read_csv("pizzas.csv", encoding= 'unicode_escape')

In [ ]:
orders.info()

In [ ]:
orders.head()

In [ ]:
# change column from object to date
orders.date = pd.to_datetime(orders.date)

In [ ]:
# add a column for day of the week
orders["day"] = orders["date"].dt.day_name()

In [ ]:
orders.head()

In [ ]:
orders.info()

In [ ]:
# change column from object to datetime
orders.time = pd.to_datetime(orders['time'], format='%H:%M').dt.time

In [ ]:
orders.info()

In [ ]:
# add a column to get the time in hours
orders["hour"] = orders["time"].dt.hour

In [ ]:
orders.info()

In [ ]:
orders.head()

In [ ]:
orders.info()

In [12]:
order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [13]:
pizza_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_type_id  32 non-null     object
 1   name           32 non-null     object
 2   category       32 non-null     object
 3   ingredients    32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [14]:
pizzas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.1+ KB

In [ ]:
orders.head()

In [ ]:
orders.shape

In [ ]:
# get number of unique values
orders.nunique()

In [ ]:
# group by day of the week
orders.groupby(['day'])['day'].agg('count')

In [ ]:
# group the data into dates
orders.groupby(['date'])['date'].agg('count')

In [ ]:
orders.groupby(['time'])['time'].agg('count')

In [ ]:
order_details.head()

In [ ]:
order_details.nunique()

In [ ]:
order_details.groupby(['quantity'])['quantity'].agg('count')

In [ ]:
pizza_types.head()

In [15]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

In [ ]:
orders.isnull().sum()

In [ ]:
# number of unique values in the date column
orders.date.nunique()

In [ ]:
orders.time.nunique()

In [ ]:
pizza_types.shape

In [ ]:
pizzas.pizza_id.nunique()