In [1]:
# import the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [2]:
# load the data
orders = pd.read_csv("orders.csv")
order_details = pd.read_csv("order_details.csv")
pizza_types = pd.read_csv("pizza_types.csv", encoding= 'unicode_escape')
pizzas = pd.read_csv("pizzas.csv", encoding= 'unicode_escape')

In [3]:
new_df = pd.merge(orders, order_details, how='outer')

In [4]:
new_df_pizza = pd.merge(pizzas, pizza_types, how='outer')

In [5]:
new_data = pd.merge(new_df, new_df_pizza, how='outer')

In [15]:
new_data.head()

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,1,2015-01-01,11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,77,2015-01-02,12:22:46,179,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
2,146,2015-01-03,14:22:10,357,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
3,163,2015-01-03,16:54:54,389,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
4,247,2015-01-04,20:55:29,568,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"

In [14]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  int64
 1   date              48620 non-null  object
 2   time              48620 non-null  object
 3   order_details_id  48620 non-null  int64
 4   pizza_id          48620 non-null  object
 5   quantity          48620 non-null  int64
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.8+ MB

In [10]:
new_data.isnull().sum()

order_id            5
date                5
time                5
order_details_id    5
pizza_id            0
quantity            5
pizza_type_id       0
size                0
price               0
name                0
category            0
ingredients         0
dtype: int64

In [11]:
new_data = new_data.dropna()

In [12]:
new_data.isnull().sum()

order_id            0
date                0
time                0
order_details_id    0
pizza_id            0
quantity            0
pizza_type_id       0
size                0
price               0
name                0
category            0
ingredients         0
dtype: int64

In [ ]:
# Get the data to the correct data types

In [13]:
# change to int
new_data.order_id = new_data.order_id.astype(int)
new_data.order_details_id = new_data.order_details_id.astype(int)
new_data.quantity = new_data.quantity.astype(int)